.sharedBtn {
    padding: 10px 25px;
    cursor: pointer;
    margin-top: 15px;
    border: 2px solid rgb(41, 41, 78);
    outline: none;
    color: black;
    border-radius: 10px 20px;
    background: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease-in-out;
  }
  
  .sharedBtn:hover {
    background-position: left bottom;
    background-color: rgb(41, 41, 78);
    color: white;
  }